html, body, header, nav, h1, a, ul, li, h3,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  z-index: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

/* --- CLEARFIX --- */
.group:after {
  content: "";
  display: block;
  clear: both;
}

.header-container {
  background-color: #8d2f3c;
  border-bottom: 2px solid #b71533;
}

.header-container > div {
  text-transform: uppercase;
  float: left;
  color: #FFFFFF;
  border: 1px solid red;
  font-size: 12px;
  font-weight: bold;
}

.main-row {
  float:left;
  padding: 20px 10px;
  width: 750px;
}

.article-title {
  top: 0;
}

.sub-row-index {
}

.sub-row {
  border-left: 1px solid #000000;
  padding: 20px 10px;
  width: 70px;
  float: left;
}

.icon {
  object-fit: cover;
  width: 45px;
  height: 45px;
}

.main-container {
  margin: 0 auto;
  width: 1050px;
}

.row-container {
  border: 1px solid green;
}
