html, body, header, nav, h1, a, ul, li, h3,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  padding: 0;
  outline: 0;
  border: 0;
  margin: 0;
  z-index: 0;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

/* --- CLEARFIX --- */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* --- MAIN --- */


.header-container {
  background-image:
  linear-gradient(
    #b03d4d, #8d2f3c
  );
  border: 1px solid #8b3946;
  border-bottom: 2px solid #b71533;
}

.header-container > div {
  text-transform: uppercase;
  float: left;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

.main-row {
  justify-content: flex-start;
  text-align: left;
  float:left;
  padding: 10px 10px;
  width: 740px;
  position: relative;
}

.table {
  padding: 10px;
}

.article-title {
  position: absolute;
  color: #52849f;
  font-weight: bold;
}

.article-title:hover {
  text-decoration: underline;
}

.row-container:nth-child(2n+1) {
  background-color: #f4f4f4;
}

.row-container:nth-child(2n) {
  background-color: #f8f8f8;
}

.sub-row-index {
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 12px;
}

.sub-row {
  border-left: 1px solid #000000;
  padding: 20px 10px;
  width: 90px;
  height: auto;
  text-align: center;
  position: relative;
}

.col {
  padding: 20px 10px;
}

.col:hover {
  cursor: pointer;
}


.icon {
  margin-right: 10px;
  object-fit: cover;
  width: 45px;
  height: 45px;
}

.main-container {
  margin: 0 auto;
  width: 1100px;
}

.aut-color {
  color: #588aa6;
}

.load-button, .no-more {
  text-align: center;
  margin: 10px 0;
  width: 150px;
  padding: 10px;
  border: 1px solid #CCCCCC;
}

.load-button:hover {
  cursor: pointer;
  background: #DDDDDD;
}

.row-container {
  border: 1px solid #cccccc;
}

.arrow-up {
  bottom: 5px;
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #FFFFFF;
}

.arrow-down {
  bottom: 5px;
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #FFFFFF;
}
